
<h1>Stupid Coaching</h1>
<ul class="list">
  <li><%= @question %></li>
  <li>- <em>You</em></li>
</ul>
<br>
<ul class="list" id="answer">
  <li><strong><%= @answer %></strong></li>
  <li>- <em>Your coach</em></li>
</ul>
<br>
<div id="link"> <%= link_to "Ask a question", ask_path  %></div>
